# Database Configuration
DB_DIR=~/.swu
DATABASE_URL=sqlite:///~/.swu/swu_app.db
CARD_DATABASE_URL=sqlite:///~/.swu/swu_cards.db

# Security
JWT_SECRET=your_secret_key_here
ACCESS_TOKEN_EXPIRE_MINUTES=10080

# CORS Configuration
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:8000